<!DOCTYPE html>
<html>
  <head>
    <title>HappyWedding！</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">

            <a class="navbar-brand" href="">
              <img src="https://2.bp.blogspot.com/-JU4UQDZuQSg/UYG5NEg2-nI/AAAAAAAARAk/W969CrQhfy4/s450/happy_wedding.png" id="logo-img" style="width:40px" >
            </a>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
              <span class="sr-only">HappyWedding！</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../">HappyWedding！</a>
          </div>

          <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
              <li>
                <a href="../">トップ</a>
              </li>
              <li>
                <%= link_to "メッセージ一覧", twtexts_path %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="footer">
      <p class="text-muted text-center">HappyWedding！ Tatsuya ＆ Chikako</p>
      <p class="text-muted text-center">© 2018 Tatsuya＆Chikako All Rights Reserved.</p>
    </footer>

  </body>
</html>
